.wrapper {
  height: 100vh;
}

.debug-1 {
  border: 2px dashed red;
}
.debug-2 {
  border: 2px dotted green;
}

.container {
  width: 70%;
  height: 95%;
  padding-left: 0;
  padding-right: 0;
}

.contacts-list {
  width: 40%;
  height: 100%;
}

.chat-box {
  width: 60%;
  height: 100%;
}
.user-option {
  height: 10%;
}

.chat-input {
  height: 10%;
}

.chat-window {
  height: 80%;
}

.notification-bar {
  height: 12%;
  background-color: #8edafc;
}

.search-input {
  height: 5%;
}
