/**********
***DEBUG***
**********/

.debug-1 {
  border: 2px dashed red;
}
.debug-2 {
  border: 2px dotted green;
}

/***********************
****CUSTOM PROPERTIES***
************************/

:root {
  --background-color: #eaeaea;
  --text-muted-color: #8c9396;
  --text-muted-weight: 500;
  --avatar-nav-icon-size: 60px;
}

/*****************
****CONTAINER*****
*****************/

.wrapper {
  height: 100vh;
  background-image: linear-gradient(#009688 15%, #d9dbd4 10%);
}

.container {
  height: 95%;
  padding-left: 0;
  padding-right: 0;
}

/*****************
******UTILS*******
*****************/

.user-options {
  height: 10%;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-options-icons {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 0.8rem;
}

.user-options-icons > li {
  font-size: 1.5rem;
  color: var(--text-muted-color);
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

/***********************
***CONTACTS CONTAINER***
***********************/

.contacts-container {
  width: 40%;
  height: 100%;
}

.people-avatar {
  display: inline-block;
  width: var(--avatar-nav-icon-size);
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0.8rem;
}

.people-avatar > img {
  max-width: var(--avatar-nav-icon-size);
}
.people-infos {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.people-name {
  display: inline-block;
  font-weight: 500;
}

.people-description {
  display: inline-block;
  font-weight: var(--text-muted-weight);
  color: var(--text-muted-color);
}

.notification-bar {
  display: flex;
  align-items: center;
  height: 11%;
  background-color: #8edafc;
}

.notification-elements {
  display: flex;
}

.notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--avatar-nav-icon-size);
  background-color: var(--background-color);
  border-radius: 50%;
  height: var(--avatar-nav-icon-size);
  margin-left: 1.2rem;
}
.notification-icon > i {
  display: inline-block;
  font-size: 1.7rem;
  color: #8edafc;
}

.notification-settings {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: center;
}

.notification-text {
  display: inline-block;
  font-weight: var(--text-muted-weight);
}

.notification-link {
  display: inline-block;
}

.search-input {
  height: 6%;
}

/*******************
***CHAT CONTAINER***
********************/

.chat-container {
  width: 60%;
  height: 100%;
}

.chat-window {
  height: 80%;
  background-image: url(../img/mine.jpg);
}

.chat-input {
  height: 10%;
}
